<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="theme-color" content="white" />

    <!-- Mixed content 에러 해결 -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

    <title>PMS</title>
    <link rel="stylesheet" href="/public/build/bundle.css" />
    <script defer src="/public/build/bundle.js"></script>

    <!-- 카카오맵api -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d9cebcef1a681b5cd9ac964fc8c7308b&libraries=services,clusterer"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- 구글차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
  </head>
  <body></body>

  <!-- 모바일 높이 100vh 맞추기 -->
  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty("--vh", `${vh}px`);
  </script>
  <style>
    body {
      height: calc(var(--vh, 1vh) * 100);
      padding-bottom: env(safe-area-inset-bottom);
      overflow: hidden;
    }
  </style>
</html>
